.content-area {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
    
#map-canvas {
  height: 100vh;        
}
    
.sticky-area {
  position: fixed;
  right: 0;
}    

#floating-panel-l {
  position: fixed;
  top: 16px;
  left: 1px;
  z-index: 5;
  height: 46px;
}

/* #floating-panel-r {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 6;
  height: 45px;
} */

#floating-panel-r {
  position: fixed;
  top: 16px;
  right: 16px;
  height: 46px;
  z-index: 6;
}

hr{
top: 5px;
padding: 0;
margin: 0;
border: none;  
height: 45px;  
width: 1px;  
background-color:wheat;  
}

      
